@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
	@apply p-3 border-2 border-gray-200 font-light text-lg focus:outline-none focus:border-gray-500 transition-colors;
}

.container {
	@apply max-w-screen-2xl mx-auto;
}

.container-wrapper {
	@apply px-5 md:px-10;
}

.link {
	@apply text-lime-600 hover:underline;
}

.btn {
	@apply text-white py-4 text-lg font-semibold transition-colors bg-lime-500 hover:bg-lime-700;
}

.btn-color-none {
	@apply text-white py-4 text-lg font-semibold transition-colors;
}

.line-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.title-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}